
body{
background-image: url("./images/crib.jpg");
background-repeat: no-repeat;
object-fit: cover;
height: 200%;
width: 100%;
align-content: center;
background-size: cover;
}
.container{
    width: 1000px;
    padding: 60px;
    margin: 10px; 
    
    
}
  #gender{
    background-color: rgb(42, 195, 149);

}
#dateOfBirth{
  background-color: rgb(149, 204, 185);
  font-family: Arial, Helvetica, sans-serif;
  
}
table{
  margin: 20px;
  padding: 50px;
 border:2px solid rgb(172, 4, 4);border-spacing:25px"

}
 
   

